KERNEL=="hi*",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="mem",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="mmz_userdev",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="fb*",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="jpeg",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
DRIVERS=="usb-storage",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="sd*",SUBSYSTEM=="block",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
KERNEL=="watchdog",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="boot",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="bootargs",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="loader",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="system",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="pqparam",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="cadata",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="loaderdb",MODE="0660",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="deviceinfo",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="softwareinfo",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="db",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="predb",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="syscfg",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="history",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="baseparam",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="logo",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
SUBSYSTEM=="mtd",ATTR{name}=="privatedata",MODE="0440",OWNER="stb",GROUP="stb",PROGRAM=="/etc/udev/rules.d/udev_mknod.sh $kernel"
