config ARCH_HI3798CV2X
	bool "Hisilicon Hi3798Cv200 family"
	select ARM_HAS_SG_CHAIN
	select PM_OPP
	help
	  This enables support for Hisilicon Hi3798Cv200 platform.

config ARCH_HI3798MV2X
	bool "Hisilicon Hi3798Mv200 family"
	select ARM_HAS_SG_CHAIN
	select PM_OPP
	help
	  This enables support for Hisilicon Hi3798Mv200 platform.

config HI3798MV2X_FPGA
	bool "Enable HI3798MV2X Fpga config"
	default n if ARCH_HI3798MV2X

config ARCH_HI3796MV2X
       bool "Hisilicon Hi3796Mv200 family"
       select ARM_HAS_SG_CHAIN
       select PM_OPP
       help
         This enables support for Hisilicon Hi3796Mv200 platform.

