#The ImageNumber define the number of the merged images, these images are merged into #one image and then sign it.
#The ImageNumber should not be zero
ImageNumber=2

#Define the name and partition size of the first image .
Image1=bootargs.bin
OffsetofImage1=0x2000

Image2=fastboot.bin
OffsetofImage2=0x160000
