menuconfig PCIE_HISILICON
	bool "Hisilicon PCIe controller"
	depends on ARCH_S40 || ARCH_HI3798CV2X || ARCH_HI3798MV2X || ARCH_HI3796MV2X || ARCH_HI3716MV420N
	select PCIEPORTBUS
	select PCIE_DW
	select PCI
	help
	  Say Y here if you want PCIe controller support on HiSilicon HIP05 SoC

config PCIE_PME_IRQ
	hex "Hisilicon PCIe pme interrupt number"
	default "0xa2"	if (ARCH_S40)
	default "0xa2"	if (ARCH_HI3798CV2X)
	default "0xa2"	if (ARCH_HI3798MV2X)
	default "0xa2"	if (ARCH_HI3796MV2X)
	default "0xa2"	if (ARCH_HI3716MV420N)
	depends on PCIE_HISILICON 

config PCIE_DMA_SIZE_READ
	hex "hisilicon pcie dma read size"
	default "0x0" if (ARCH_HI3798CV2X)
	default "0x0" if (ARCH_S40)
	default "0x0" if (ARCH_HI3798MV2X)
	default "0x0" if (ARCH_HI3796MV2X)
	default "0x0" if (ARCH_HI3716MV420N)
	depends on PCIE_HISILICON

config PCIE_DMA_SIZE_WRITE
	hex "hisilicon pcie dma write size"
	default "0x0" if (ARCH_HI3798CV2X)
	default "0x0" if (ARCH_S40)
	default "0x0" if (ARCH_HI3798MV2X)
	default "0x0" if (ARCH_HI3796MV2X)
	default "0x0" if (ARCH_HI3716MV420N)
	depends on PCIE_HISILICON 
