[ConfigName]
ConfigName=hi3796mv2dmb_hi3796mv200_DDR4-2133_2GB_16bitx2_2layers.config
[DdrParamters]
DDRCapacity=2GB
ComboPhy1=NA
ComboPhy0=USB3.0
DDRSpreadSpectrum=+-0.5%
emmcVol=1V8_IO
PackageType=BGA15x15
DDRFreq=2133Mbps
PCBLayer=2layers
[MacName]
MAC1=RMII
MAC0=FE_PHY
[PhyAddress]
MAC1=1
MAC0=2
[GpioGroupNum]
MAC1=255
MAC0=255
[GpioBits]
MAC1=255
MAC0=255
[Startup]
Startup=emmc
[spi]
ioshare_0=SF_WPN_IO2
ioshare_1=SF_SDI_IO1
ioshare_2=SF_CSN
ioshare_3=SF_HOLDN_IO3
ioshare_4=SF_CLK
ioshare_5=SF_SDO_IO0
ioshare_6=GPIO0_2
ioshare_7=GPIO0_3
ioshare_8=GPIO0_4
ioshare_9=GPIO0_5
ioshare_10=EMMC_CDATA3
ioshare_11=EMMC_CDATA4
ioshare_12=EMMC_CDATA0
ioshare_13=EMMC_CDATA5
ioshare_14=EMMC_CDATA1
ioshare_15=EMMC_CDATA6
ioshare_16=EMMC_CDATA2
ioshare_17=EMMC_CDATA7
ioshare_18=EMMC_CCLK_OUT
ioshare_19=GPIO1_7
ioshare_20=EMMC_CCMD
ioshare_21=EMMC_RST
ioshare_22=EMMC_DATA_STROBE
ioshare_23=GPIO2_3
[nand]
ioshare_0=GPIO6_0
ioshare_1=GPIO6_1
ioshare_2=GPIO6_2
ioshare_3=GPIO6_3
ioshare_4=GPIO0_0
ioshare_5=GPIO0_1
ioshare_6=NF_RDY
ioshare_7=NF_CSN
ioshare_8=NF_DQSN
ioshare_9=NF_DQS
ioshare_10=NF_DQ7
ioshare_11=NF_DQ6
ioshare_12=NF_DQ5
ioshare_13=NF_DQ4
ioshare_14=NF_DQ3
ioshare_15=NF_DQ2
ioshare_16=NF_DQ1
ioshare_17=NF_DQ0
ioshare_18=NF_WEN
ioshare_19=NF_ALE
ioshare_20=NF_CLE
ioshare_21=NF_REC
ioshare_22=NF_REN
ioshare_23=GPIO2_3
[emmc]
ioshare_0=GPIO6_0
ioshare_1=GPIO6_1
ioshare_2=GPIO6_2
ioshare_3=GPIO6_3
ioshare_4=GPIO0_0
ioshare_5=GPIO0_1
ioshare_6=GPIO0_2
ioshare_7=GPIO0_3
ioshare_8=GPIO0_4
ioshare_9=GPIO0_5
ioshare_10=EMMC_CDATA3
ioshare_11=EMMC_CDATA4
ioshare_12=EMMC_CDATA0
ioshare_13=EMMC_CDATA5
ioshare_14=EMMC_CDATA1
ioshare_15=EMMC_CDATA6
ioshare_16=EMMC_CDATA2
ioshare_17=EMMC_CDATA7
ioshare_18=EMMC_CCLK_OUT
ioshare_19=GPIO1_7
ioshare_20=EMMC_CCMD
ioshare_21=EMMC_RST
ioshare_22=EMMC_DATA_STROBE
ioshare_23=EMMC_CARD_POWER_EN
[pin_mux_drv]
ioshare_24=PMC_CORE0
ioshare_26=SIM0_DET
ioshare_27=SIM0_RST
ioshare_28=SIM0_PWREN
ioshare_31=SIM0_DATA
ioshare_32=SIM0_CLK
ioshare_38=PMC_GPU0
ioshare_59=TSI0_D7
ioshare_60=TSI0_D6
ioshare_61=TSI0_D5
ioshare_62=TSI0_D4
ioshare_63=TSI0_D3
ioshare_64=TSI0_D2
ioshare_65=TSI0_D1
ioshare_66=TSI0_D0
ioshare_67=TSI0_CLK
ioshare_68=TSI0_SYNC
ioshare_69=TSI0_VALID
ioshare_73=QAM_SDA
ioshare_74=QAM_SCL
ioshare_75=QAM_AGC
ioshare_76=GPIO6_7
ioshare_77=SPDIF_OUT
ioshare_82=FE_LED_ACT
ioshare_83=FE_LED_BASE
ioshare_84=RMII1_RST
ioshare_85=RMII1_TXD1
ioshare_86=RMII1_TXD0
ioshare_87=RMII1_TXEN
ioshare_88=RMII1_RXDV
ioshare_89=RMII1_RXD0
ioshare_90=RMII1_RXD1
ioshare_91=RMII1_MDCK
ioshare_92=GPIO11_7
ioshare_93=RMII1_REFCLK
ioshare_94=RMII1_MDIO
ioshare_95=GPIO12_2
ioshare_96=GPIO12_3
ioshare_97=GPIO12_4
ioshare_98=GPIO12_5
ioshare_99=GPIO12_6
ioshare_108=PMC_CPU0
[fp_pin_mux_drv]
uart_rx_sel=UART0_RXD
uart_tx_sel=UART0_TXD
clk_gpio_sel=LED_CLK
data_gpio_sel=LED_DATA
key_gpio_sel=LED_KEY
ir_gpio_sel=LED_IR
rst_gpio_sel=STB_PWROFF
gpio5_4_sel=GPIO5_4
i2c3_sda_sel=GPIO5_5
i2c3_scl_sel=GPIO5_1
gpio5_6_sel=GPIO5_6
hdmitx_hotplug_sel=HDMITX_HOTPLUG
hdmitx_sda_sel=HDMITX_SDA
hdmitx_scl_sel=HDMITX_SCL
hdmitx_cec_sel=HDMITX_CEC
lsadc1_sel=GPIO5_2
lsadc0_sel=LSADC0
clock_wifi_gpio5_0_drv=drv7_GPIO5_0
gpio5_6_drv=drv0_GPIO5_6
gpio5_4_drv=drv0_GPIO5_4
gpio5_3_drv=drv7_GPIO5_3
[GPIO]
