export CONFIG_CONNECTIVITY_HI110X :=y
export CONFIG_HI1131_HI3798MV2X :=y
export CONFIG_DEV_CLK_40M :=n
export CONFIG_HAS_WAKELOCK :=y
export CONFIG_HI110X_SDIO_STD_CARD_SUPPORT :=y
export CONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT ?=yes

#plat modules
export CONFIG_HI1102_PLAT_OAL ?=y
export CONFIG_HI1102_PLAT_FRW ?=y
export CONFIG_HI1102_PLAT_OAM ?=y
export CONFIG_HI1102_PLAT_SDT ?=y
export CONFIG_HI1102_PLAT_PM ?=y
export CONFIG_HI1102_PLAT_MAIN ?=y
export CONFIG_HI1102_PLAT_PS ?=y
export CONFIG_HI1102_PLAT_HW_CHR ?=n

#wifi modules
export CONFIG_HI1102_WIFI_WAL :=y
export CONFIG_HI1102_WIFI_MAIN :=y
export CONFIG_HI1102_WIFI_HMAC :=y
#export CONFIG_WIRELESS_EXT :=y
#export CONFIG_WEXT_SPY :=y
#export CONFIG_WEXT_PRIV :=y

KBUILD_CFLAGS += -DCONFIG_CONNECTIVITY_HI110X
KBUILD_CFLAGS += -DCONFIG_HI1131_HI3798MV2X
#KBUILD_CFLAGS += -DCONFIG_DEV_CLK_40M
KBUILD_CFLAGS += -DCONFIG_HAS_WAKELOCK
KBUILD_CFLAGS += -DCONFIG_HI110X_SDIO_STD_CARD_SUPPORT
KBUILD_CFLAGS += -DCONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT

KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_OAL
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_FRW
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_OAM
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_SDT
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_PM
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_MAIN
KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_PS
#KBUILD_CFLAGS += -DCONFIG_HI1102_PLAT_HW_CHR

KBUILD_CFLAGS += -DCONFIG_HI1102_WIFI_WAL
KBUILD_CFLAGS += -DCONFIG_HI1102_WIFI_MAIN
KBUILD_CFLAGS += -DCONFIG_HI1102_WIFI_HMAC
#KBUILD_CFLAGS += -DCONFIG_WIRELESS_EXT
#KBUILD_CFLAGS += -DCONFIG_WEXT_SPY
#KBUILD_CFLAGS += -DCONFIG_WEXT_PRIV
