menu "Hisilicon driver support"

config VIRTUAL_INPUT
	tristate "virtual input device for android"
	help
	  If you say yes here you get support for android.

config HISI_DEBUG_UART_PHYS
	hex "hisilicon physical base address of debug UART"
	default 0xF8B00000 if ARCH_HI3798CV2X
	default 0xF8B00000 if ARCH_S40
	default 0xF8B00000 if ARCH_HI3798MX
	default 0xF8B00000 if ARCH_HI3798MV2X
	default 0xF8B00000 if ARCH_HI3798MV310
	default 0xF8B00000 if ARCH_HI3716MV420N

config HISI_DEBUG_UART_VIRT
	hex "hisilicon virtual base address of debug UART"
	default 0xF9B00000 if ARCH_HI3798CV2X
	default 0xF9B00000 if ARCH_S40
	default 0xF9B00000 if ARCH_HI3798MX
	default 0xF9B00000 if ARCH_HI3798MV2X
	default 0xF9B00000 if ARCH_HI3798MV310
	default 0xF9B00000 if ARCH_HI3716MV420N

source "drivers/hisilicon/pcie/Kconfig"
source "drivers/hisilicon/clk/Kconfig"
source "drivers/hisilicon/ir/Kconfig"
source "drivers/hisilicon/kapi/Kconfig"
source "drivers/hisilicon/misc/Kconfig"
source "drivers/hisilicon/Kconfig.ca"
source "drivers/hisilicon/cma/Kconfig"
source "drivers/hisilicon/usbotg/Kconfig"
source "drivers/hisilicon/soc/Kconfig"
source "drivers/hisilicon/tee/Kconfig"
source "drivers/hisilicon/devfreq/Kconfig"
source "drivers/hisilicon/regulator/Kconfig"
source "drivers/hisilicon/hash_vrf_dev/Kconfig"

menu "Hisilicon thermal drivers"
source "drivers/hisilicon/ipa/Kconfig"
endmenu

endmenu
