menu "PCIe Config"
    depends on HI3798CV200 || HI3798MV200 || HI3798MV300 || HI3798MV200_A || HI3796MV200

config  HI_PCIE_SUPPORT
    bool
    default y
    depends on HI3798CV200 || HI3798MV200 || HI3798MV300 || HI3798MV200_A || HI3796MV200

config  HI_GPIO_PCIE_RESET
    hex "PCIe Reset GPIO Number"
    default 0xff
    depends on HI_PCIE_SUPPORT
    help
      pcie reset gpio
      gpio_pin (gpio_pin = gpio_group * 8 + gpio_num)
      0x3D is for GPIO7_5

config  HI_GPIO_PCIE_POWER_EN_SUPPORT
    bool "Config GPIO for PCIe POWER EN"
    default n
    depends on HI_PCIE_SUPPORT

config  HI_GPIO_PCIE_POWER_EN
    hex "PCIe POWER EN(REG ON) GPIO Number"
    default 0xff
    depends on HI_GPIO_PCIE_POWER_EN_SUPPORT
    help
      pcie power en gpio
      gpio_pin (gpio_pin = gpio_group * 8 + gpio_num)
      0x2E is for GPIO5_6

endmenu
