#++++++++++++++++++++++++++++++++++++++++++++++++++++
menu "Avplay Config"
        depends on (HI3716MV410 || HI3716MV420 || HI3798MV200 || HI3798MV300)

#--------------------------------
config HI_AVPLAY_PLAY_AND_REC_SUPPORT
        bool "Avplay Play And Rec On A Demux Support"
        default n

endmenu
#++++++++++++++++++++++++++++++++++++++++++++++++++++
