# set compiler macro
COMM_COPTS =-D_PRE_PRODUCT_ID_WITP=0
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1151=1
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1152=2
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1102_DEV=3
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1102_HOST=4
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1131C_DEV=5
COMM_COPTS +=-D_PRE_PRODUCT_ID_HI1131C_HOST=6
COMM_COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_HI1131C_HOST

ifeq ($(BOARD_TYPE), SD5115)
COMM_COPTS +=-D_PRE_BOARD_SD5115
endif

COMM_COPTS +=-D_PRE_CONFIG_HW_CHR

COMM_COPTS +=-D_PRE_OS_VERSION_LINUX=0
COMM_COPTS +=-D_PRE_OS_VERSION_WIN32=1
COMM_COPTS +=-D_PRE_OS_VERSION_WINDOWS=2
COMM_COPTS +=-D_PRE_OS_VERSION_RAW=3
COMM_COPTS +=-D_PRE_OS_VERSION_HiRTOS=4
COMM_COPTS +=-D_PRE_OS_VERSION_WIN32_RAW=5
COMM_COPTS +=-D_PRE_OS_VERSION_LITEOS=6
COMM_COPTS +=-D_PRE_OS_VERSION=_PRE_OS_VERSION_LINUX

ifndef DBG_ALG_ENABLE
export DBG_ALG_ENABLE=n
endif

ifeq ($(CONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT), yes)
$(warning hisi build modules $(CONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT))
COPTS +=-DCONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT
else
$(warning hisi built-in $(CONFIG_HI110X_KERNEL_MODULES_BUILD_SUPPORT))
endif

ifeq ($(DBG_ALG_ENABLE), y)
COPTS +=-D_PRE_WLAN_ALG_ENABLE
COPTS +=-D_PRE_WLAN_FEATURE_AUTORATE
COPTS +=-D_PRE_WLAN_FEATURE_SCHEDULE
COPTS +=-D_PRE_WLAN_FEATURE_TRAFFIC_CTL
COPTS +=-D_PRE_WLAN_FEATURE_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_MVAP_SCH
COPTS +=-D_PRE_WLAN_PERFORM_STAT
#COPTS +=-D_PRE_WLAN_FEATURE_TXBF

COPTS +=-D_PRE_SUPPORT_FCS
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
COPTS +=-D_PRE_DBAC_DYNAMIC_POLICY

#COPTS +=-D_PRE_SUPPORT_SCANNER
#COPTS +=-D_PRE_SUPPORT_ACS
#COPTS +=-D_PRE_SUPPORT_DFS

else

endif

ifndef RELEASE_TYPE
export RELEASE_TYPE=DEBUG
endif

ifeq ($(RELEASE_TYPE), PROFILE)
COPTS +=-D_PRE_WLAN_PROFLING_MIPS
endif

#1102
#add for pruduct type
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610EVB=0
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_5610DMB=1
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_1102COMMON=2
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_VSPM310DMB=3
COMM_COPTS +=-D_PRE_TARGET_PRODUCT_TYPE_WS835DMB=4
COMM_COPTS +=-D_PRE_CONFIG_TARGET_PRODUCT=_PRE_TARGET_PRODUCT_TYPE_1102COMMON

#COMM_COPTS +=-D_PRE_WLAN_FRW_SIMPLE_SCHED
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD=0
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TASKLET=1

ifndef _PRE_FRW_FEATURE_PROCCESS_ENTITY_TYPE
COPTS +=-D_PRE_FRW_FEATURE_PROCCESS_ENTITY_TYPE=_PRE_FRW_FEATURE_PROCCESS_ENTITY_THREAD
endif

COPTS +=-D_PRE_PMF_NOT_SUPPORT=0
COPTS +=-D_PRE_PMF_HW_CCMP_SW_BIP=1
COPTS +=-D_PRE_PMF_HW_CCMP_BIP=2
COPTS +=-D_PRE_WLAN_FEATURE_PMF=_PRE_PMF_HW_CCMP_BIP

ifndef CHIP_VERSION
#default choose asic
export CHIP_VERSION=ASIC
endif

COPTS +=-D_PRE_WLAN_CHIP_FPGA_HI1101RF=0
COPTS +=-D_PRE_WLAN_CHIP_FPGA_HI1151RF=1
COPTS +=-D_PRE_WLAN_CHIP_ASIC=2

ifeq ($(CHIP_VERSION), FPGA1101RF)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_FPGA_HI1101RF
else ifeq ($(CHIP_VERSION), FPGA1151RF)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_FPGA_HI1151RF
else ifeq ($(CHIP_VERSION), ASIC)
COPTS +=-D_PRE_WLAN_CHIP_VERSION=_PRE_WLAN_CHIP_ASIC
endif

#COPTS +=-D_PRE_WLAN_FEATURE_ROAM
COPTS +=-D_PRE_WLAN_FEATURE_HISTREAM

COPTS +=-D_PRE_CONFIG_CONN_HISI_SYSFS_SUPPORT
COPTS +=-D_PRE_CONFIG_HISI_PANIC_DUMP_SUPPORT
COPTS +=-D_PRE_CONFIG_WLAN_THRANS_THREAD_DEBUG
COPTS +=-D_PRE_CONFIG_HISI_CONN_SOFTWDFT

#frw event serial trace
COPTS +=-D_PRE_FRW_EVENT_PROCESS_TRACE_DEBUG

COPTS +=-D_PRE_OAL_FEATURE_TASK_NEST_LOCK

#record the key information occur
COPTS +=-D_PRE_OAL_FEATURE_KEY_PROCESS_TRACE

COPTS +=-DCONFIG_SPIN_LOCK_MAGIC_DEBUG
#customize
COPTS +=-D_PRE_PLAT_FEATURE_CUSTOMIZE

COPTS +=-D_PRE_WLAN_FEATURE_DFR

COPTS +=-D_PRE_FRW_TIMER_BIND_CPU

ifeq ($(CONFIG_ARCH_HI3650),y)
COPTS +=-DHISI_NVRAM_SUPPORT
endif

ifeq ($(CONFIG_ARCH_HI3798MV2X),y)
ifeq ($(CFG_PRODUCT_TYPE),linux)
COPTS +=-DCFG_PRODUCT_TYPE_LINUX
endif
endif

