ifeq ($(BOARD_TYPE), SD5115)
COPTS +=-D_PRE_BOARD_SD5115
endif

ifeq ($(RELEASE_TYPE), DEBUG)
COPTS +=-D_PRE_DEBUG_MODE
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_WLAN_DFT_IRQ_STAT
COPTS +=-D_PRE_WLAN_DFT_EVENT
COPTS +=-D_PRE_WLAN_DFT_DUMP_DSCR
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME
COPTS +=-D_PRE_WLAN_DFT_REG
COPTS +=-D_PRE_WLAN_FEATURE_DAQ

else ifeq ($(RELEASE_TYPE), RELEASE)
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME
COPTS +=-D_PRE_WLAN_DFT_REG

else ifeq ($(RELEASE_TYPE), MINIMUM)
else
COPTS +=-D_PRE_WLAN_DFT_LOG
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_DEBUG_MODE_USER_TRACK
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME
COPTS +=-D_PRE_WLAN_DFT_REG
endif

ifeq ($(PHY_PERFORMANCE_ENABLE), y)
COPTS +=-D_PRE_WLAN_PHY_PERFORMANCE
endif

ifeq ($(ASIC_RF_TEST_ENABLE), y)
COPTS +=-D_PRE_WLAN_ASIC_RF_TEST
endif

ifeq ($(DBG_ECHO_REG_ENABLE), y)
COPTS +=-D_PRE_DEBUG_ECHO_REG
endif

ifndef DBG_PROFILING_MODE
export DBG_PROFILING_MODE=n
endif

ifeq ($(DBG_PROFILING_MODE), y)
COPTS +=-D_PRE_PROFILING_MODE
endif

COPTS +=-D_PRE_CHIP_BITS_MIPS64=1
COPTS +=-D_PRE_CHIP_BITS_MIPS32=0
COPTS +=-D_PRE_CHIP_BITS=_PRE_CHIP_BITS_MIPS32

ifeq ($(CONFIG_ARCH_HI3650),y)
COPTS +=-D_PRE_CONFIG_USE_DTS
endif

COPTS +=-D_PRE_CONFIG_GPIO_TO_SSI_DEBUG
COPTS +=-D_PRE_WLAN_NEW_IQ

COPTS +=-D_PRE_TEST_MODE_OFF=0
COPTS +=-D_PRE_TEST_MODE_UT=1
COPTS +=-D_PRE_TEST_MODE_ST=2
COPTS +=-D_PRE_TEST_MODE_BOARD_ST=3
COPTS +=-D_PRE_TEST_MODE=_PRE_TEST_MODE_OFF

COPTS +=-D_PRE_BIG_CPU_ENDIAN=0
COPTS +=-D_PRE_LITTLE_CPU_ENDIAN=1
COPTS +=-D_PRE_CPU_ENDIAN=_PRE_LITTLE_CPU_ENDIAN

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC

COPTS +=-D_PRE_HW_CHIP_VERSION_DBDC=0
COPTS +=-D_PRE_HW_CHIP_VERSION_DBSC=1
COPTS +=-D_PRE_HW_CHIP_VERSION=_PRE_HW_CHIP_VERSION_DBSC

COPTS +=-D_PRE_HW_DEVICE_REGISTER_WITP=0
COPTS +=-D_PRE_HW_DEVICE_REGISTER_HOME=1
COPTS +=-D_PRE_HW_DEVICE_VERSION=_PRE_HW_DEVICE_REGISTER_WITP

COPTS +=-D_PRE_WLAN_802_11B=1
COPTS +=-D_PRE_WLAN_802_11G=2
COPTS +=-D_PRE_WLAN_802_11A=4
COPTS +=-D_PRE_WLAN_802_11N=8
COPTS +=-D_PRE_WLAN_802_11AC=16
COPTS +=-D_PRE_WLAN_PROTOCAL_VER=_PRE_WLAN_802_11B+_PRE_WLAN_802_11G+_PRE_WLAN_802_11A+_PRE_WLAN_802_11N+_PRE_WLAN_802_11AC

COPTS +=-D_PRE_WLAN_SIM_CHIP=0
COPTS +=-D_PRE_WLAN_REAL_CHIP=1
COPTS +=-D_PRE_WLAN_CHIP_SIM=_PRE_WLAN_REAL_CHIP

COPTS +=-D_PRE_WLAN_RF_CALI
COPTS +=-D_PRE_WLAN_PHY_PLL_DIV
COPTS +=-D_PRE_WLAN_FEATURE_PROXYSTA

COPTS +=-D_PRE_WLAN_RF_HI1101_MPW2=0
COPTS +=-D_PRE_WLAN_RF_VERSION=_PRE_WLAN_RF_HI1101_MPW2


# PKT_B_RAM belongs to CPU_RAM size select
COPTS +=-D_PRE_PATCH_RAM_SIZE_16K=0
COPTS +=-D_PRE_PATCH_RAM_SIZE_32K=1
COPTS +=-D_PRE_PATCH_RAM_SIZE_48K=2 
COPTS +=-D_PRE_PATCH_RAM_SIZE_64K=3 
COPTS +=-D_PRE_PATCH_RAM_SIZE=_PRE_PATCH_RAM_SIZE_16K

# Feature Compile Macro Option
COPTS +=-D_PRE_WLAN_FEATURE_PM
COPTS +=-D_PRE_WLAN_FEATURE_PSM
COPTS +=-D_PRE_WLAN_FEATURE_UAPSD
#COPTS +=-D_PRE_WLAN_FEATURE_SMPS
#COPTS +=-D_PRE_WLAN_FEATURE_TXOPPS
COPTS +=-D_PRE_WLAN_FEATURE_AMSDU
COPTS +=-D_PRE_WLAN_FEATURE_AMPDU
COPTS +=-D_PRE_WLAN_FEATURE_MCAST
#COPTS +=-D_PRE_WLAN_FEATURE_PROXY_ARP

ifndef DBG_ALG_ENABLE
export DBG_ALG_ENABLE=n
endif

ifeq ($(DBG_ALG_ENABLE), y)
COPTS +=-D_PRE_WLAN_FEATURE_AUTORATE
COPTS +=-D_PRE_WLAN_FEATURE_SCHEDULE
COPTS +=-D_PRE_WLAN_FEATURE_TRAFFIC_CTL
COPTS +=-D_PRE_WLAN_FEATURE_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_MVAP_SCH
COPTS +=-D_PRE_WLAN_PERFORM_STAT
COPTS +=-D_PRE_WLAN_PERFORM_TXBF

COPTS +=-D_PRE_SUPPORT_FCS
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
COPTS +=-D_PRE_DBAC_DYNAMIC_POLICY

#COPTS +=-D_PRE_SUPPORT_SCANNER
#COPTS +=-D_PRE_SUPPORT_ACS
#COPTS +=-D_PRE_SUPPORT_DFS

else

COPTS +=-D_PRE_WLAN_FEATURE_OFFLOAD_FLOWCTL
endif

#COPTS +=-D_PRE_WLAN_FEATURE_SMARTANT
COPTS +=-D_PRE_WLAN_FEATURE_WPA
COPTS +=-D_PRE_WLAN_FEATURE_WPA2

COPTS +=-D_PRE_WLAN_FEATURE_CLASSIFY
COPTS +=-D_PRE_WLAN_FEATURE_11D
COPTS +=-D_PRE_WLAN_FEATURE_HUT
COPTS +=-D_PRE_WLAN_FEATURE_20_40_80_COEXIST

COPTS +=-D_PRE_WLAN_REG_DEBUG
COPTS +=-D_PRE_WLAN_FEATURE_OPMODE_NOTIFY
COPTS +=-D_PRE_WLAN_FEATURE_11AC2G
#COPTS +=-D_PRE_WLAN_FEATURE_CUSTOM_SECURITY

#tcp ack optimize
COPTS +=-D_PRE_WLAN_TCP_OPT

#auto_freq adjust
COPTS +=-D_PRE_WLAN_FEATURE_AUTO_FREQ

ifndef BOARD_FUNC
export BOARD_FUNC=RF
endif

ifeq ($(BOARD_FUNC), DG)
COPTS +=-D_PRE_WLAN_FPGA_DIGITAL
endif


ifeq ($(DBG_CHIP_TEST), y)
COPTS +=-D_PRE_WLAN_CHIP_TEST
endif


# set debug options
#DEBFLAGS = -Wall -O2 -g -DSCULL_DEBUG -DEXPORT_SYMTAB

# set Coverage options
ifeq ($(DBG_COVERAGE), y)
DEBFLAGS += --coverage
endif

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)

#COPTS +=-D_PRE_WLAN_PROFLING_SOC


# for makefile debugging
