COPTS +=-D_PRE_WLAN_FEATURE_OPMODE_NOTIFY
COPTS +=-D_PRE_WLAN_FEATURE_20_40_80_COEXIST
COPTS +=-D_PRE_CHIP_BITS_MIPS64=1
COPTS +=-D_PRE_CHIP_BITS_MIPS32=0
COPTS +=-D_PRE_CHIP_BITS=_PRE_CHIP_BITS_MIPS32

COPTS +=-D_PRE_OS_VERSION_LINUX=0 
COPTS +=-D_PRE_OS_VERSION_WIN32=1 
COPTS +=-D_PRE_OS_VERSION_WINDOWS=2 
COPTS +=-D_PRE_OS_VERSION_RAW=3 
COPTS +=-D_PRE_OS_VERSION_HiRTOS=4 
COPTS +=-D_PRE_OS_VERSION=_PRE_OS_VERSION_LINUX

COPTS +=-D_PRE_TEST_MODE_OFF=0
COPTS +=-D_PRE_TEST_MODE_UT=1
COPTS +=-D_PRE_TEST_MODE_ST=2
COPTS +=-D_PRE_TEST_MODE_BOARD_ST=3
COPTS +=-D_PRE_TEST_MODE=_PRE_TEST_MODE_OFF

#1102
COPTS +=-D_PRE_HW_DEVICE_REGISTER_WITP=0
COPTS +=-D_PRE_HW_DEVICE_REGISTER_HI1102=1
COPTS +=-D_PRE_HW_DEVICE_VERSION=_PRE_HW_DEVICE_REGISTER_HI1102

COPTS +=-D_PRE_PRODUCT_ID_WITP=0
COPTS +=-D_PRE_PRODUCT_ID_HI1151=1 
COPTS +=-D_PRE_PRODUCT_ID_HI1152=2 
COPTS +=-D_PRE_PRODUCT_ID_HI1102_DEV=3 
COPTS +=-D_PRE_PRODUCT_ID_HI1102_HOST=4
COPTS +=-D_PRE_PRODUCT_ID_HI1131C_DEV=5
COPTS +=-D_PRE_PRODUCT_ID_HI1131C_HOST=6
COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_HI1131C_HOST

COPTS +=-D_PRE_WLAN_SIM_CHIP=0
COPTS +=-D_PRE_WLAN_REAL_CHIP=1
COPTS +=-D_PRE_WLAN_CHIP_SIM=_PRE_WLAN_REAL_CHIP

#COPTS +=-D_PRE_WLAN_FEATURE_WOW

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC
COPTS +=-D_PRE_WLAN_FEATURE_CUSTOM_SECURITY

COPTS +=-D_PRE_WLAN_FEATURE_11D
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME

COPTS +=-D_PRE_BIG_CPU_ENDIAN=0
COPTS +=-D_PRE_LITTLE_CPU_ENDIAN=1
COPTS +=-D_PRE_CPU_ENDIAN=_PRE_LITTLE_CPU_ENDIAN

ifndef DBG_ALG_ENABLE
export DBG_ALG_ENABLE=n
endif
#COPTS +=-D_PRE_WLAN_FEATURE_TXBF

ifeq ($(DBG_ALG_ENABLE), y)
COPTS +=-D_PRE_WLAN_ALG_ENABLE
COPTS +=-D_PRE_WLAN_FEATURE_AUTORATE
COPTS +=-D_PRE_WLAN_FEATURE_SCHEDULE
COPTS +=-D_PRE_WLAN_FEATURE_TRAFFIC_CTL
COPTS +=-D_PRE_WLAN_FEATURE_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_MVAP_SCH
COPTS +=-D_PRE_WLAN_PERFORM_STAT
COPTS +=-D_PRE_WLAN_PERFORM_TPC
COPTS +=-D_PRE_SUPPORT_FCS
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
COPTS +=-D_PRE_DBAC_DYNAMIC_POLICY
COPTS +=-D_PRE_WLAN_FEATURE_AGGR_OPTIMIZE
#COPTS +=-D_PRE_WLAN_FEATURE_TXBF

#COPTS +=-D_PRE_SUPPORT_SCANNER
#COPTS +=-D_PRE_SUPPORT_ACS
#COPTS +=-D_PRE_SUPPORT_DFS

else

COPTS +=-D_PRE_WLAN_FEATURE_OFFLOAD_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
endif

COPTS +=-D_PRE_WLAN_FEATURE_HILINK
COPTS +=-D_PRE_WLAN_FEATURE_TCP_UDP_KEEPALIVE
COPTS +=-D_PRE_WLAN_FEATURE_TX_CLASSIFY_LAN_TO_WLAN
COPTS +=-D_PRE_WLAN_FEATURE_CLASSIFY
COPTS +=-D_PRE_WLAN_FEATURE_ALWAYS_TX
COPTS +=-D_PRE_WLAN_FEATURE_WPA
COPTS +=-D_PRE_WLAN_FEATURE_WPA2
COPTS +=-D_PRE_WLAN_FEATURE_AMPDU
#COPTS +=-D_PRE_WLAN_FEATURE_DFS
COPTS +=-D_PRE_WLAN_FEATURE_AMSDU
COPTS +=-D_PRE_WLAN_FEATURE_ARP_OFFLOAD
COPTS +=-D_PRE_WLAN_FEATURE_EDCA_OPT_AP
COPTS +=-D_PRE_WLAN_FEATURE_PKT_MEM_OPT

ifeq ($(BOARD_FUNC), DG)
COPTS +=-D_PRE_WLAN_FPGA_DIGITAL
endif

COPTS +=-D_PRE_WLAN_DFT_LOG


COPTS +=-D_PRE_WLAN_FEATURE_P2P
#COPTS +=-D_PRE_WLAN_CHIP_TEST_ALG

COPTS +=-D_PRE_WLAN_FEATURE_STA_PM
COPTS +=-D_PRE_WLAN_FEATURE_STA_UAPSD
COPTS +=-D_PRE_PSM_DEBUG_MODE
#COPTS +=-D_PRE_WLAN_FEATURE_BTCOEX
#COPTS +=-D_PRE_WLAN_FEATURE_LTECOEX

ifeq ($(CONFIG_ARCH_HI3650),y)
COPTS +=-D_PRE_WLAN_RF_110X_CALI_DPD
endif

#11ac2g support
COPTS +=-D_PRE_WLAN_FEATURE_11AC2G
#uapsd support
COPTS +=-D_PRE_WLAN_FEATURE_UAPSD
COPTS +=-D_PRE_WLAN_FEATURE_TXOPPS

#tcp ack optimize
COPTS +=-D_PRE_WLAN_TCP_OPT
#COPTS +=-D_PRE_WLAN_PROFLING_SOC
#COPTS +=-D_PRE_WLAN_PROFLING_MIPS

COPTS +=-D_PRE_WLAN_FEATURE_AMPDU_VAP

#hs20 character open
#COPTS +=-D_PRE_WLAN_FEATURE_HS20

#auto_freq adjust
COPTS +=-D_PRE_WLAN_FEATURE_AUTO_FREQ

# set debug options
#DEBFLAGS = -Wall -O2 -g -DSCULL_DEBUG -DEXPORT_SYMTAB

# set Coverage options
ifeq ($(DBG_COVERAGE), y)
DEBFLAGS += --coverage
endif

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)

#roam support
#COPTS +=-D_PRE_WLAN_FEATURE_ROAM
# for makefile debugging
COPTS +=-D_PRE_WLAN_FEATURE_OPMODE_NOTIFY
COPTS +=-D_PRE_WLAN_FEATURE_20_40_80_COEXIST
COPTS +=-D_PRE_CHIP_BITS_MIPS64=1
COPTS +=-D_PRE_CHIP_BITS_MIPS32=0
COPTS +=-D_PRE_CHIP_BITS=_PRE_CHIP_BITS_MIPS32

COPTS +=-D_PRE_OS_VERSION_LINUX=0 
COPTS +=-D_PRE_OS_VERSION_WIN32=1 
COPTS +=-D_PRE_OS_VERSION_WINDOWS=2 
COPTS +=-D_PRE_OS_VERSION_RAW=3 
COPTS +=-D_PRE_OS_VERSION_HiRTOS=4 
COPTS +=-D_PRE_OS_VERSION=_PRE_OS_VERSION_LINUX

COPTS +=-D_PRE_TEST_MODE_OFF=0
COPTS +=-D_PRE_TEST_MODE_UT=1
COPTS +=-D_PRE_TEST_MODE_ST=2
COPTS +=-D_PRE_TEST_MODE_BOARD_ST=3
COPTS +=-D_PRE_TEST_MODE=_PRE_TEST_MODE_OFF

#1102
COPTS +=-D_PRE_HW_DEVICE_REGISTER_WITP=0
COPTS +=-D_PRE_HW_DEVICE_REGISTER_HI1102=1
COPTS +=-D_PRE_HW_DEVICE_VERSION=_PRE_HW_DEVICE_REGISTER_HI1102

COPTS +=-D_PRE_PRODUCT_ID_WITP=0
COPTS +=-D_PRE_PRODUCT_ID_HI1151=1 
COPTS +=-D_PRE_PRODUCT_ID_HI1152=2 
COPTS +=-D_PRE_PRODUCT_ID_HI1102_DEV=3 
COPTS +=-D_PRE_PRODUCT_ID_HI1102_HOST=4
COPTS +=-D_PRE_PRODUCT_ID_HI1131C_DEV=5
COPTS +=-D_PRE_PRODUCT_ID_HI1131C_HOST=6
COPTS +=-D_PRE_PRODUCT_ID=_PRE_PRODUCT_ID_HI1131C_HOST

COPTS +=-D_PRE_WLAN_SIM_CHIP=0
COPTS +=-D_PRE_WLAN_REAL_CHIP=1
COPTS +=-D_PRE_WLAN_CHIP_SIM=_PRE_WLAN_REAL_CHIP

COPTS +=-D_PRE_MULTI_CORE_MODE_SMP=0
COPTS +=-D_PRE_MULTI_CORE_MODE_PIPELINE_AMP=1
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_HMAC=2
COPTS +=-D_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC=3
COPTS +=-D_PRE_MULTI_CORE_MODE=_PRE_MULTI_CORE_MODE_OFFLOAD_DMAC
COPTS +=-D_PRE_WLAN_FEATURE_CUSTOM_SECURITY

COPTS +=-D_PRE_WLAN_FEATURE_11D
COPTS +=-D_PRE_WLAN_DFT_STAT
COPTS +=-D_PRE_WLAN_DFT_DUMP_FRAME

COPTS +=-D_PRE_BIG_CPU_ENDIAN=0
COPTS +=-D_PRE_LITTLE_CPU_ENDIAN=1
COPTS +=-D_PRE_CPU_ENDIAN=_PRE_LITTLE_CPU_ENDIAN

ifndef DBG_ALG_ENABLE
export DBG_ALG_ENABLE=n
endif
#COPTS +=-D_PRE_WLAN_FEATURE_TXBF

ifeq ($(DBG_ALG_ENABLE), y)
COPTS +=-D_PRE_WLAN_ALG_ENABLE
COPTS +=-D_PRE_WLAN_FEATURE_AUTORATE
COPTS +=-D_PRE_WLAN_FEATURE_SCHEDULE
COPTS +=-D_PRE_WLAN_FEATURE_TRAFFIC_CTL
COPTS +=-D_PRE_WLAN_FEATURE_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_MVAP_SCH
COPTS +=-D_PRE_WLAN_PERFORM_STAT
COPTS +=-D_PRE_WLAN_PERFORM_TPC
COPTS +=-D_PRE_SUPPORT_FCS
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
COPTS +=-D_PRE_DBAC_DYNAMIC_POLICY
COPTS +=-D_PRE_WLAN_FEATURE_AGGR_OPTIMIZE
COPTS +=-D_PRE_WLAN_FEATURE_TXBF

#COPTS +=-D_PRE_SUPPORT_SCANNER
#COPTS +=-D_PRE_SUPPORT_ACS
#COPTS +=-D_PRE_SUPPORT_DFS

else

COPTS +=-D_PRE_WLAN_FEATURE_OFFLOAD_FLOWCTL
COPTS +=-D_PRE_WLAN_FEATURE_DBAC
endif

COPTS +=-D_PRE_WLAN_NEW_IQ
COPTS +=-D_PRE_WLAN_FEATURE_ALWAYS_TX
COPTS +=-D_PRE_WLAN_FEATURE_WPA
COPTS +=-D_PRE_WLAN_FEATURE_WPA2
COPTS +=-D_PRE_WLAN_FEATURE_AMPDU
#COPTS +=-D_PRE_WLAN_FEATURE_DFS
COPTS +=-D_PRE_WLAN_FEATURE_AMSDU
COPTS +=-D_PRE_WLAN_FEATURE_ARP_OFFLOAD
COPTS +=-D_PRE_WLAN_FEATURE_EDCA_OPT_AP
#COPTS +=-D_PRE_WLAN_FEATURE_5G

ifeq ($(BOARD_FUNC), DG)
COPTS +=-D_PRE_WLAN_FPGA_DIGITAL
endif

COPTS +=-D_PRE_WLAN_DFT_LOG


COPTS +=-D_PRE_WLAN_FEATURE_P2P
#COPTS +=-D_PRE_WLAN_CHIP_TEST_ALG

COPTS +=-D_PRE_WLAN_FEATURE_STA_PM
COPTS +=-D_PRE_WLAN_FEATURE_STA_UAPSD
COPTS +=-D_PRE_PSM_DEBUG_MODE
#COPTS +=-D_PRE_WLAN_FEATURE_BTCOEX
#COPTS +=-D_PRE_WLAN_RF_110X_CALI_DPD

#11ac2g support
COPTS +=-D_PRE_WLAN_FEATURE_11AC2G
#uapsd support
COPTS +=-D_PRE_WLAN_FEATURE_UAPSD
COPTS +=-D_PRE_WLAN_FEATURE_TXOPPS

#wapi support
COPTS +=-D_PRE_WLAN_FEATURE_WAPI
COPTS +=-D_PRE_WAPI_DEBUG

#tcp ack optimize
COPTS +=-D_PRE_WLAN_TCP_OPT
#COPTS +=-D_PRE_WLAN_PROFLING_SOC
#COPTS +=-D_PRE_WLAN_PROFLING_MIPS

COPTS +=-D_PRE_WLAN_FEATURE_AMPDU_VAP

#hs20 character open
#COPTS +=-D_PRE_WLAN_FEATURE_HS20

# set debug options
#DEBFLAGS = -Wall -O2 -g -DSCULL_DEBUG -DEXPORT_SYMTAB

# set Coverage options
ifeq ($(DBG_COVERAGE), y)
DEBFLAGS += --coverage
endif

# set compiler CFLAG
EXTRA_CFLAGS = $(INCS) $(COPTS) $(DEBFLAGS)

#roam support
#COPTS +=-D_PRE_WLAN_FEATURE_ROAM
# for makefile debugging
